$color-accent: #2A1708
$color-background-alt: #efe7e1

$font-serif: "Crimson Pro", serif
$font-sans: "Commissioner", sans-serif
    
$heading-font-family: $font-serif
$body-font-family: $font-serif

$meta-font-family: $font-sans
$h1-weight: normal
$h3-font-family: $font-sans
    
$header-background: white
$header-border-bottom-width: 0
$header-logo-height: pxToRem(60)
$header-logo-height-desktop: pxToRem(60)
$header-dropdown-full: true
$hero-background-color: none
$footer-background-color: $color-accent
$footer-color: white
$footer-logo-height: pxToRem(80)
$footer-logo-height-desktop: pxToRem(80)
